<app-header
  [breadCrumbList]="breadCrumbList"
  [title]="pageTitle"
  [description]="pageDescription"
></app-header>

<p-progress-spinner
  class="flex justify-center items-center m-auto"
  ariaLabel="loading"
  *ngIf="isLoading"
/>

<div [ngClass]="{
    'opacity-25': isLoading
  }">
<p-card>
  <form [formGroup]="noteCreateForm" (ngSubmit)="updateNote()">
    <div class="mb-10">
      <div class="flex justify-between align-middle">
        <p class="my-auto font-bold text-3xl">Update User Note</p>
        <div class="flex">
          <p-button
            label="Clear"
            [outlined]="true"
            icon="pi pi-times"
            iconPos="right"
            (click)="clearForm()"
          />
          <p-button
            *ngIf="!isSubmitted"
            label="Save"
            icon="pi pi-save"
            iconPos="right"
            class="pl-4"
            styleClass="w-45"
            type="submit"
            [disabled]="noteCreateForm.invalid"
          />
          <p-button
            *ngIf="isSubmitted"
            class="pl-4"
            styleClass="w-45 h-11"
            [loading]="true"
            loadingIcon="pi pi-spin pi-spinner"
            [disabled]="true"
          />
        </div>
      </div>
    </div>
    <div>
      <div class="my-10">
        <!-- Title: half width -->
        <div class="px-5 w-1/2">
          <p-floatlabel class="w-full">
            <input
              id="title"
              pInputText
              formControlName="title"
              class="w-full"
            />
            <label for="title">Title *</label>
          </p-floatlabel>
          <p-message
            *ngIf="noteCreateForm.get('title')?.invalid && noteCreateForm.get('title')?.dirty && noteCreateForm.get('title')?.hasError('required')"
            severity="error"
            variant="simple"
            size="small"
          >
            Title is required
          </p-message>
        </div>
        <!-- Content: full width -->
        <div class="px-5 w-full mt-9">
          <p-floatlabel>
            <textarea
              pTextarea
              id="over_label"
              formControlName="content"
              rows="5"
              cols="30"
              style="resize: none"
              class="h-full w-full border border-gray-300 p-2 rounded"
            ></textarea>
            <label for="over_label">Content Goes Here!</label>
          </p-floatlabel>
          <p-message
            *ngIf="noteCreateForm.get('content')?.invalid && noteCreateForm.get('content')?.dirty && noteCreateForm.get('content')?.hasError('required')"
            severity="error"
            variant="simple"
            size="small"
          >
            Content is required
          </p-message>
        </div>
      </div>
    </div>
  </form>
</p-card>
</div>